.photo-container {
  width: 150px;
  height: 150px;
  max-width: 100%;
  border: solid #dbdada;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
